@model ItemDto
@inject IViewLocalizer Localizer
@{
	Debug.Assert(Model != null);
}

<div class="d-flex shadow rounded w-100 p-2">
	<a asp-controller="Items" asp-action="Item" asp-route-id="@Model.Id">
		@if(Model.Images == null || Model.Images.FirstOrDefault() == null)
		{
			<div class="item-image item-image-none"></div>
		}
		else
		{
			<img class="item-image rounded" src="@Url.Content(Model.Images.First().Path)" alt="Item image" />
		}
	</a>
	<div class="d-flex flex-column justify-content-between w-100 ms-3">
		<div class="d-flex justify-content-between">
			<a asp-controller="Items" asp-action="Item" asp-route-id="@Model.Id"><b>@Model.Title</b></a>
			@if (Model.Price != null)
			{
				<span class="ms-1">
					@if (Model.Currency != null)
					{
						<span class="currency-id d-none">@Model.Currency.Id</span>
					}
					<b>
						@(Model.Price.Value == 0
							? Localizer["Free"]
							: Model.Price.Value.ToString(CultureInfo.InvariantCulture))
					</b>
				</span>
			}
		</div>
		<small>
			@if ((Model.User.City != null))
			{
				<span class="city-id short d-none">@Model.User.City.Id</span>
				<span></span>
				<span>-</span>
			}
			<span class="time-iso time d-none">@Model.Created.ToString("O")</span>
			<span></span>
		</small>
	</div>
</div>
