@model UserViewModel
@inject IViewLocalizer Localizer
@{
	Debug.Assert(Model != null);
}

<section class="shadow p-4">
	<div class="display-6 text-center mb-4">@Localizer["User"]</div>
	<div class="@(Model.IsLarge ? "row" : null)">
		<div class="@(Model.IsLarge ? "col-md-6" : null)">
			<div class="d-flex mb-4">
				@if (Model.User.Image == null)
				{
					<div class="rounded-circle border avatar avatar-none"></div>
				}
				else
				{
					<img src="@Model.User.Image" class="rounded-circle border avatar">
				}
				<div class="flex-grow-1 ms-4">
					<div><b>@Model.User.Name</b></div>
					<div>
						<small>@Localizer["Since"]</small>
						<small class="time-iso month d-none">@Model.User.Created.ToString("O")</small>
						<small></small>
					</div>
					@if (Model.User.FeedbackStatistics != null)
					{
						<div class="mt-1">
							<a asp-controller="Feedback" asp-action="User" asp-route-id="@Model.User.Id">@Localizer["FeedbackCount", @Model.User.FeedbackStatistics.Count]</a>
							<div class="d-flex mt-1">
								<div class="rounded bg-warning px-2 py-1 me-2"><b>@Model.User.FeedbackStatistics.Average.ToString("F1")</b></div>
								<div class="position-relative mt-1">
									<div class="d-flex position-absolute">
										<div class="star star-none"></div>
										<div class="star star-none"></div>
										<div class="star star-none"></div>
										<div class="star star-none"></div>
										<div class="star star-none"></div>
									</div>
									<div class="w-auto position-absolute">
										<div class="overflow-hidden" style="width: @((Model.User.FeedbackStatistics.Average * 20).ToString(CultureInfo.InvariantCulture))%">
											<div class="d-table white-space-no-wrap">
												<div class="star d-inline-block"></div>
												<div class="star d-inline-block"></div>
												<div class="star d-inline-block"></div>
												<div class="star d-inline-block"></div>
												<div class="star d-inline-block"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
		<div class="@(Model.IsLarge ? "col-md-6" : null)">
			<ul class="m-0 p-0">
				<li class="li-icon li-phone"><a href="tel:@Model.User.PhoneNumber" class="link-secondary">@Model.User.PhoneNumber</a></li>
				@if (@Model.User.City != null)
				{
					<li class="li-icon li-location"><span class="city-id long d-none">@Model.User.City.Id</span><span></span></li>
				}
			</ul>
			<a asp-controller="Items" asp-action="User" asp-route-id="@Model.User.Id" class="btn btn-primary w-100 mt-4 d-md-none">@Localizer["ShowAllItems"]</a>
			<a asp-controller="Items" asp-action="User" asp-route-id="@Model.User.Id" class="btn btn-primary w-400 mt-3 d-none d-md-block">@Localizer["ShowAllItems"]</a>
		</div>
	</div>
</section>
