@model ItemDto
@inject IViewLocalizer Localizer
@{
	Debug.Assert(Model != null && Model.User != null);
	ViewData["Title"] = Model.Title;
}

<div class="row">
	<div class="col-lg-8">
		<section class="shadow mb-4 p-4">
			@if (Model.Images == null || Model.Images.FirstOrDefault() == null)
			{
				<div class="item-image item-image-none w-100"></div>
			}
			else
			{
				<div id="image-slider" class="position-relative overflow-hidden">
					<button id="fullscreen-enter" class="btn-reset btn-fullscreen position-absolute top-0 end-0"></button>
					<button id="to-prev" class="btn-reset btn-turn position-absolute top-50 start-0 ms-2"></button>
					<button id="to-next" class="btn-reset btn-turn position-absolute top-50 end-0 me-2"></button>
					<div id="image-panel" class="d-flex overflow-hidden h-100 pb-5">
						@foreach (var image in Model.Images)
						{
							<div><img src="@Url.Content("~" + image.Path)"></div>
						}
					</div>
					<div id="indicator-panel" class="d-flex justify-content-center position-absolute bottom-0 w-100 pb-2"></div>
				</div>
			}
		</section>
		<section class="shadow p-4">
			<h1 class="display-4">@Model.Title</h1>
			<div class="d-flex justify-content-between mb-4">
				<span class="time-iso time d-none">@Model.Created.ToString("O")</span>
				<small></small>
				@if (Model.Price != null)
				{
					<h2>
						@if (Model.Currency != null)
						{
							<span class="currency-id d-none">@Model.Currency.Id</span>
						}
						<b>
							@(Model.Price.Value == 0
								? Localizer["Free"]
								: Model.Price.Value.ToString(CultureInfo.InvariantCulture))
						</b>
					</h2>
				}
			</div>
			<div class="white-space-pre-wrap">@Model.Description</div>
		</section>
	</div>
	<div class="col-lg-4 mt-4 mt-lg-0">
		@await Html.PartialAsync("UserPartial", new UserViewModel(Model.User, false))
		@if (User.IsInRole("Moderator"))
		{
			<a asp-action="Remove" asp-route-id="@Model.Id" class="btn btn-danger w-100 mt-4">@Localizer["Remove"]</a>
		}
	</div>
</div>

@section Styles {
	<link rel="stylesheet" href="~/css/image-slider.css" asp-append-version="true" />
}

@section Scripts {
	<script src="~/js/load-external-info.js"></script>
	<script src="~/js/fill-item-info.js"></script>
	<script src="~/js/image-slider.js"></script>
}
