@using Marketplace.Repositories
@model UserItemsViewModel
@inject IViewLocalizer Localizer
@{
	Debug.Assert(Model != null);
	ViewData["Title"] = @Localizer["MyItems"];
}

<form method="post">
	<div class="d-flex justify-content-between">
		<div class="mt-4"><i>@Localizer["Found", Model.Items.TotalCount, ItemRepository.MaxItems]</i></div>
		<div>
			<button type="button" id="select" class="btn btn-primary">@Localizer["Select"]</button>
			<button type="button" id="cancel" class="btn btn-primary me-2 d-none">@Localizer["Cancel"]</button>
			<button type="submit" id="remove" class="btn btn-danger d-none" disabled>@Localizer["Remove"]</button>
		</div>
	</div>
	@foreach(ItemDto item in Model.Items)
	{
		<div class="d-flex mt-3">
			@await Html.PartialAsync("ItemPartial", item)
			<input type="checkbox" name="id" value="@item.Id" class="ms-1 d-none">
		</div>
	}
</form>

@section Scripts {
	<script src="~/js/load-external-info.js"></script>
	<script src="~/js/fill-item-info.js"></script>
	<script src="~/js/remove-item.js"></script>
}
