@model IEnumerable<Marketplace.Dto.ItemDto>
@inject IViewLocalizer Localizer
@{
	ViewData["Title"] = @Localizer["MyItems"];
}

<form method="post">
	<div class="d-flex justify-content-end">
		<button type="button" id="select" class="btn btn-primary">@Localizer["Select"]</button>
		<button type="button" id="cancel" class="btn btn-primary me-2 d-none">@Localizer["Cancel"]</button>
		<button type="submit" id="remove" class="btn btn-danger d-none" disabled>@Localizer["Remove"]</button>
	</div>
	@foreach(Marketplace.Dto.ItemDto item in Model)
	{
		<div class="d-flex mt-3">
			@await Html.PartialAsync("ItemPartial", item)
			<input type="checkbox" name="id" value="@item.Id" class="ms-1 d-none">
		</div>
	}
</form>

@section Scripts {
	<script src="~/js/external-info-loader.js"></script>
	<script src="~/js/item-info-filler.js"></script>
	<script src="~/js/item-remove.js"></script>
}
